@use 'sass:color';
@import '../../common';

.rdw-editor-toolbar {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  border: 0 !important;
  background: transparent !important;
}

.rdw-editor-toolbar * {
  box-shadow: 0 0 0 !important;
}

.rdw-editor-toolbar > * {
  display: flex !important;
  flex-wrap: wrap !important;
  border: 0 !important;
}

.rdw-editor-toolbar > * > * {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 35px !important;
  height: 35px !important;
  margin: 0 5px 20px 0 !important;
  border-radius: $radius-s !important;
  background: $color-gray-4 !important;
  cursor: pointer !important;
}

.DraftEditor-editorContainer {
  z-index: 0 !important;
}

.public-DraftEditor-content {
  min-height: 200px !important;
  padding: 20px !important;
  text-align: left !important;
  outline: 0 !important;
  border-bottom: 1px solid $color-gray-2 !important;
  background: $color-gray-4 !important;
}

.draftjs-display-readonly .public-DraftEditor-content {
  min-height: 1px !important;
  padding: 0 !important;
  border-bottom: 0 !important;
  background: transparent !important;
}
