@use 'sass:color';
@import '../../common';

.input-error {
  display: block;
  margin-top: 15px;
  font-size: $text-small;
  color: $color-red;
  @include crop-whitespace(6, 6);
}

.card .input-error {
  position: absolute;
  white-space: nowrap;
}
