@use 'sass:color';
@import '../common';

.bo-subheader {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  background: $color-gray-4;

  > div {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }

  > ul {
    display: flex;

    > li {
      + li {
        margin-left: 10px;
      }

      > a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        font-size: $text-medium;
      }
    }
  }
}

.bo-intro {
  padding: 20px 0 70px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
