@use 'sass:color';
@import '../common';

.notification {
  padding: 15px 15px 15px 44px;
  font-size: $text-small;
  font-weight: 600;
  border-radius: $radius-s;
  background-position: 16px 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;

  strong {
    display: block;
    font-weight: 600;
  }

  &.is-info {
    color: $color-clickable;
    background-color: color.scale($color-clickable, $lightness: +90%);
    background-image: $svg-notification-info;
  }

  &.is-warning,
  &.is-error {
    color: $color-danger;
    background-color: color.scale($color-danger, $lightness: +90%);
    background-image: $svg-notification-error;
  }

  &.is-success {
    color: $color-safe;
    background-color: color.scale($color-safe, $lightness: +90%);
    background-image: $svg-notification-success;
  }

  &.is-placeholder {
    color: $color-gray-2;
    background-color: $color-gray-4;
    background-image: $svg-notification-placeholder;
  }
}
