@use 'sass:color';
@import '../common';

button,
select,
input[type='text'],
input[type='number'],
input[type='password'],
input[type='checkbox'],
input[type='radio'],
input[type='button'],
input[type='submit'],
input[type='date'],
input[type='file'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  font: inherit;
  color: inherit;
  border-radius: 0;
  border: 0;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px $color-white;
}
