@use 'sass:color';
@import '../common';

.is-disabled {
  opacity: .5;
  pointer-events: none;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
}

.truncate-id {
  display: block;
  width: 110px;
  padding-right: 10px;
  font-family: Menlo, monospace;
  font-size: 12px;
  color: $color-gray-2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  resize: horizontal;
}

.rounded-s { border-radius: $radius-s !important; }
.rounded-l { border-radius: $radius-l !important; }

.loading-wrapper {
  min-height: 300px;
  padding: 1px;
  background: $color-gray-4 center center no-repeat url('../img/ajax-loader.gif');
}

.loading-wrapper img {
  width: 100%;
}

@media (min-width: $breakpoint-lg) {
  .order-lg-last {
    order: 13;
  }
}

/* Text Colors */

.text-blue-1    { color: $color-blue-1    !important; }
.text-blue-2    { color: $color-blue-2    !important; }
.text-red       { color: $color-red       !important; }
.text-white     { color: $color-white     !important; }

.text-gray-1    { color: $color-gray-1    !important; }
.text-gray-2    { color: $color-gray-2    !important; }
.text-gray-3    { color: $color-gray-3    !important; }
.text-gray-4    { color: $color-gray-4    !important; }

.text-protein   { color: $color-protein   !important; }
.text-carbs     { color: $color-carbs     !important; }
.text-fat       { color: $color-fat       !important; }
.text-alcohol   { color: $color-alcohol   !important; }

.text-breakfast { color: $color-breakfast !important; }
.text-lunch     { color: $color-lunch     !important; }
.text-dinner    { color: $color-dinner    !important; }
.text-snack     { color: $color-snack     !important; }

.text-clickable { color: $color-clickable !important; }
.text-danger    { color: $color-danger    !important; }
.text-safe      { color: $color-safe      !important; }

/* Background Colors */

.bg-blue-1    { background: $color-blue-1    !important; }
.bg-blue-2    { background: $color-blue-2    !important; }
.bg-red       { background: $color-red       !important; }
.bg-white     { background: $color-white     !important; }

.bg-gray-1    { background: $color-gray-1    !important; }
.bg-gray-2    { background: $color-gray-2    !important; }
.bg-gray-3    { background: $color-gray-3    !important; }
.bg-gray-4    { background: $color-gray-4    !important; }

.bg-protein   { background: $color-protein   !important; }
.bg-carbs     { background: $color-carbs     !important; }
.bg-fat       { background: $color-fat       !important; }
.bg-alcohol   { background: $color-alcohol   !important; }

.bg-breakfast { background: $color-breakfast !important; }
.bg-lunch     { background: $color-lunch     !important; }
.bg-dinner    { background: $color-dinner    !important; }
.bg-snack     { background: $color-snack     !important; }

.bg-clickable { background: $color-clickable !important; }
.bg-danger    { background: $color-danger    !important; }
.bg-safe      { background: $color-safe      !important; }
